<!-- <div class="container text-center mt-5">
<div class="mt-4">
    <button class="btn btn-primary m-4" [routerLink]="'/login'">Login</button>
    <button class="btn btn-success m-4" [routerLink]="'/register'">Register</button>
</div>
</div>
<router-outlet></router-outlet
    > --> 

    <div  >
       {{fromChild}} 
    </div>
    <div *ngFor="let user of userDetails" class="test" >
        <app-userdetails [userData]="user" (dataemiter)="receiveData($event)"></app-userdetails>
    </div>

    <button  class="btn btn-primary" (click)="goto()">Test</button>
   
    <router-outlet> </router-outlet>